body{
    background-color: blue;
}
.whattheycando{
    background-color: blueviolet;
}
.whatidogshelpuswith{
    background-color: chartreuse;
}
.whatdogsdoforhumans{
    background-color: crimson;
}
.whyilikedogs{
    background-color: darkorange;
}